/* the font used is Crimson Pro by Jacques Le Bailly and contributors: https://fonts.google.com/specimen/Crimson+Pro/about */
/* crimson-pro-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Crimson Pro';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/crimson-pro-v24-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* crimson-pro-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Crimson Pro';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/crimson-pro-v24-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  color-scheme: light dark;
}

/* the following "reset" directives are inspired,
   but not fully taken over,
   from https://www.joshwcomeau.com/css/custom-css-reset/
*/

/* 1. Use a more-intuitive box-sizing model. */
*, *::before, *::after {box-sizing: border-box}

/* 4. Improve text rendering */
body {-webkit-font-smoothing: antialiased}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {display: block;max-width: 100%}

/* 6. Remove built-in form typography styles */
input, button, textarea, select {font: inherit}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {overflow-wrap: break-word}

/* 8. Create a root stacking context */
#root, #__next {isolation: isolate}

@media (prefers-color-scheme: dark) {
    html {
        color: rgba(255, 255, 255, .85);
        background-color: #141414;
    }
}

body {
    font-family: "Crimson Pro", serif;
}

header {
    & a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    & > a {
        display: inline-block;
    }
    & nav { display: inline-block; }
    & nav ul {
        display: flex;
        gap: .5em;
        list-style: none;

        & > li::before {
            content: "»";
        }
    }
}


main { width: 390px; margin: 0 auto; }

/* equalize h sizes inside articles */
article h1 { font-size: 1.5em }
article h2 { font-size: 1.3em }

ul.item-list li article h1 {
    font-weight: normal;
    display: inline-block;
    margin: 0;
    font-size: 1.2em;
    & a { text-decoration: none }
    & a:hover { text-decoration: underline }
}

article ul.tag-list {
    padding: 0;
    list-style: none;

    & li {
        background-color: PaleTurquoise;
        padding: 2px;
        display: inline-block;
        
        & a {
            text-decoration: none;
            color: black;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

ul.item-list li article ul.tag-list {
    display: inline-block;
    margin-left: .5rem;
}

/* Layout multiple images next to each other */
article > figure[role=group] { /* // https://stackoverflow.com/q/41789278/1388892 */
    display: flex;
    flex-wrap: wrap;
    gap: 0 1rem;

    > figcaption { width: 100% }
    > figure {
        flex: 1;
        margin: 0;
    }
}

article img[onclick*="this.requestFullscreen()"]:not(:fullscreen) {
    cursor: zoom-in;
}

article > footer {
    margin: 2rem 6rem;
    border-top: solid darkgrey 1px;
    padding-top: 1rem;
    text-align: right;
}

body > footer {
    margin: 2rem;
    border-top: solid darkgrey 1px;
    padding-top: 1rem;
    text-align: right;
}

